<!DOCTYPE html>
<html>

<head>
  <title>SFTS|Management|Student Details</title>

  <!-- BootStrap CDN Links -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</head>



<body class="jumbotron text-center bg-light">
  <div class="jumbotron bg-light">


    <h1 class="text-success display-3">SF<span class="text-warning">TS</span> </h1>

    <!-- Navbar Starts here -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light btn btn-outline-success">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home | SFTS</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/management/managementView">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/management/addFirmView">Add Firm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/management/viewFirmView">View Firm</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/management/payToFirmView">Pay to Firm</a>
        </li>
        <!-- <li class="nav-item ">
          <a class="nav-link" href="/management/withdrawFeeView">Withdraw Fee</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link " href="/management/orderDetailsView">Order Details</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/management/orderSummary">Order Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/management/addStudentView">Add Student</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-success " href="/management/searchStudentView">Search Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/management/viewBalanceView">View Balance</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/management/studentFeeDetailsView">Student Fee Details</a>
        </li>
      </ul>
    </nav>

    <br>
    <div class="jumbotron border border-success bg-light">
      <h2 class="text-success">Student Details</h2>

      <table class="table table-sm table-bordered">
        <thead class="bg-dark text-success">
          <tr>
            <th>Roll Number</th>
            <th>Student Address</th>
            <th>Name</th>
            <th>Age</th>
            <th>Adhaar Number</th>
            <th>Gender</th>
            <th>Indian</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= getStudentData._rollNumber %>
            </td>
            <td>
              <%= getStudentData._studentAddress %>
            </td>
            <td>
              <%= getStudentData._name %>
            </td>
            <td>
              <%= getStudentData._age %>
            </td>
            <td>
              <%= getStudentData._adhaarNum%>
            </td>
            <td>
              <% if(getStudentData._myGender==0) { %>
              Male
              <% } else if(getStudentData._myGender==1) { %>
              Female
              <% } else { %>
              Other
              <% } %>
            </td>
            <td>
              <% if(getStudentData._indian) { %>
              Yes
              <% } else { %>
              No
              <% } %>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
</body>

</html>